<div id="addItemPopup" data-role="modalview" data-model="app.checklistsAdd" style="width: 90%; height:210px;">
    <h2>Add Checklist Item</h2>
    <form class="form">
        <textarea id="checklistItemDescription" data-bind="value: description" rows="4" placeholder="enter text here" resize="false" class="form-control full-width"></textarea>
        <div class="form-group right">
            <button data-role="button" data-bind="click: onSaveChecklistItem" class="btn btn-app">Save</button>
            <button data-role="button" data-bind="click: onCancelChecklistItem" class="btn btn-app">Cancel</button>
        </div>
    </form>
</div>

<div id="addChecklistView" data-role="view" data-title="Add Checklist" data-layout="main" data-model="app.checklistsAdd" data-init="app.checklistsAdd.onInit" data-show="app.checklistsAdd.onShow" data-hide="app.checklistsAdd.onHide">
    <form id="addChecklistForm" class="form">
        <div class="form-group">
            <label class="km-required form-col1">Title:</label>
            <input id="checklistTitle" data-bind="value: listTitle" type="text" class="k-textbox form-control form-col2" />
            <label class="km-required form-col1">Show Until:</label>
            <input id="checklistShowUntil" data-bind="value: showUntil" class="form-control form-col2" />
            <label class="km-required form-col1">Assign To:</label>
            <select id="checklistAssignTo" data-bind="value: assignTo" class="form-control form-col2"></select>
            <fieldset class="form-control full-width">
                <legend>Items</legend>
                <ul data-role="listview" data-style="inset" data-template="checklistAddItemTemplate" data-bind="source: checklistItemData" class="form-control full-width"></ul>
            </fieldset>
        </div>
        <div class="form-group right">
            <button data-role="button" data-bind="click: onAddChecklistItem" class="btn btn-app">Add Item</button>
            <button data-role="button" data-bind="click: onSaveChecklist" class="btn btn-app">Save List</button>
            <button data-role="button" data-bind="click: onCancelChecklist" class="btn btn-app">Cancel</button>
        </div>
    </form>

    <script type="text/x-kendo-template" id="checklistAddItemTemplate">
        #: data.Description #
    </script>
</div>
