<div id="checklistsView" data-role="view" data-title="Checklists" data-layout="main" data-model="app.checklistsView" data-init="app.checklistsView.onInit" data-show="app.checklistsView.onShow">

    <form class="form">
        <div class="form-group">
            <label class="form-col1-sm">Filter by:</label>
            <select id="checklistFilterByPerson" class="form-control form-col4 left" placeholder="- select person -"></select>
            <select id="checklistFilterByHorse" class="form-control form-col4 right" placeholder="- select horse -"></select>
        </div>
    </form>

    <ul data-role="listview" data-type="group" data-template="checklistTemplate" data-header-template="checklistHeaderTemplate" data-bind="source: checklistFilterData"></ul>

    <script id="checklistTemplate" type="text/x-kendo-template">
        # if (data.ChecklistKey > 0) { #
            # $.each(data.ChecklistItems, function (index, item) { #
                <div class="checklistItemWrapper">
                    <label>${item.Description}</label>
                    <input type="checkbox" name="check${item.ChecklistItemKey}" value="${item.ChecklistItemKey}" data-key="#:data.ChecklistKey#" class="km-icon km-check" #if (item.IsComplete) {# checked #}#>
                </div>
            # }); #
        # } #
    </script>

    <script id="checklistHeaderTemplate" type="text/x-kendo-template" >
        <div class="left">#:data.items[0].Title#</div>
        <a data-role="button" data-key="#:data.items[0].ChecklistKey#" class="checklistHeaderBtn right">&\#10006;</a>
    </script>
</div>
