<div id="helpView" data-role="view" data-title="Help" data-layout="main" data-model="app.helpView" data-show="app.helpView.onShow" data-after-show="app.helpView.afterShow">
    <h1 data-bind="html: title"></h1>
</div>
