<div id="herdsView" data-role="view" data-title="My Herds" data-layout="main" data-model="app.herdsView" data-show="app.herdsView.onShow" data-after-show="app.herdsView.afterShow">
    <h1 data-bind="html: title"></h1>
</div>
