<div id="notificationsView" data-role="view" data-title="Notifications" data-layout="main" data-model="app.notificationsView" data-show="app.notificationsView.onShow" data-after-show="app.notificationsView.afterShow">
    <h1 data-bind="html: title"></h1>
</div>
