<div id="calendarView" data-role="view" data-title="Calendar" data-layout="main" data-model="app.calendarView" data-show="app.calendarView.onShow" data-after-show="app.calendarView.afterShow">
    <div id="calendarViewCalendar" data-role="calendar" data-bind="value: selectedDate, events: { change: onChange }" data-footer="false"></div>
</div>
