<div id="logbooksView" data-role="view" data-title="Logbooks" data-layout="main" data-model="app.logbooksView" data-show="app.logbooksView.onShow" data-after-show="app.logbooksView.afterShow">
    <h1 data-bind="html: title"></h1>
</div>
