<div id="registerView" data-role="view" data-title="Register" data-model="app.registerView" data-show="app.registerView.onShow">
    <header data-role="header">
        <div data-role="navbar">
            <h2 data-role="view-title"></h2>
        </div>
    </header>
    <form id="registerForm" class="form">
        <div class="form-group">
            <label class="km-required form-col1">User Name:</label>
            <input data-bind="value: username" type="text" class="k-textbox form-control form-col2" />
            <label class="km-required form-col1">Password:</label>
            <input data-bind="value: password" type="password" class="k-textbox form-control form-col2" />
            <label class="km-required form-col1">Email:</label>
            <input data-bind="value: emailAddress" type="email" class="k-textbox form-control form-col2" />
            <label class="km-required form-col1">First Name:</label>
            <input data-bind="value: firstName" type="text" class="k-textbox form-control form-col2" />
            <label class="km-required form-col1">Last Name:</label>
            <input data-bind="value: lastName" type="text" class="k-textbox form-control form-col2" />
            <label class="form-col1">Phone:</label>
            <input data-bind="value: phoneNumber" type="tel" class="k-textbox form-control form-col2" />
            <label class="form-col1">Address:</label>
            <input data-bind="value: address" type="text" class="k-textbox form-control form-col2" />
            <label class="form-col1">City:</label>
            <input data-bind="value: city" type="text" class="k-textbox form-control form-col2" />
            <label class="form-col1">State/Zip:</label>
            <input data-bind="value: state" type="text" maxlength="2" size="2" class="k-textbox form-control form-col3 left" />
            <input data-bind="value: zip" type="text" maxlength="5" size="5" class="k-textbox form-control form-col3 right" />
            <label class="form-col1">Country:</label>
            <input data-bind="value: country" type="text" class="k-textbox form-control form-col2" />
        </div>
        <div class="form-group">
            <input type="checkbox" data-bind="checked: agreeToTerms" />
            <label class="checkLabel">I agree to the terms and conditions</label>
        </div>
        <div class="form-group right">
            <button data-role="button" data-bind="click: onCompleteRegistration" class="btn btn-app">Complete Registration</button>
            <button data-role="button" data-bind="click: onCancel" class="btn btn-app">Cancel</button>
        </div>
    </form>
</div>
