<div id="accountingView" data-role="view" data-title="Accounting" data-layout="main" data-model="app.accountingView" data-show="app.accountingView.onShow" data-after-show="app.accountingView.afterShow">
    <h1 data-bind="html: title"></h1>
</div>
