<div id="dashboardAccounting" data-role="collapsible" data-icon-position="right">
    <h2>
        <img src="../../styles/images/accounting-dark.svg" /><span id="dashboardAccountingTitle"></span>
    </h2>
    <p>accounting entries</p>
</div>
