<div id="dashboardCalendar" data-role="collapsible" data-icon-position="right">
    <h2>
        <img src="../../styles/images/calendar-dark.svg" /><span id="dashboardCalendarTitle"></span>
    </h2>
    <p>calendar events</p>
</div>
