<div id="dashboardChecklists" data-role="collapsible" data-icon-position="right">
    <h2>
        <img src="../../styles/images/checklist-dark.svg" /><span id="dashboardChecklistsTitle"></span>
    </h2>

    <p id="dashboardChecklistsLabel">no entries</p>

    <div id="dashboardChecklistsGrid"
         data-role="grid"
         data-sortable="true"
         data-columns="[{ 'field': 'Title' }, { 'field': 'Progress', 'template': '<div class=progress></div>' }, { 'field': 'ShowUntilDate', 'title': 'Show Until', 'template': '#= kendo.toString(kendo.parseDate(ShowUntilDate, \'yyyy-MM-dd\'), \'MM/dd/yyyy\') #' } ]"
         data-bind="source: checklistData">
    </div>
</div>
