<div id="dashboardLogbook" data-role="collapsible" data-icon-position="right">
    <h2>
        <img src="../../styles/images/logbook-dark.svg" /><span id="dashboardLogbookTitle"></span>
    </h2>
    <p>logbook entries</p>
</div>
