<div id="dashboardNews" data-role="collapsible" data-icon-position="right">
    <h2>
        <img src="../../styles/images/news-dark.svg" /><span id="dashboardNewsTitle"></span>
    </h2>
    <p>news items</p>
</div>
