<div id="addWidgetPopup" data-role="modalview" data-model="app.dashboardSettings" style="width: 90%;">
    <h2>Add Dashboard Widget</h2>

    <!--<div id="dashboardWidgetTypeList"
        data-role="listview"
        data-selectable="single"
        data-template="widgetTypeTemplate1"
        data-bind="source: widgetTypeData, events: { change: onWidgetTypeSelect }"></div>-->

    <div id="dashboardWidgetTypeList" class="km-list"></div>

    <form class="form">
        <div class="form-group right">
            <button data-role="button" data-bind="click: onCancelWidget" class="btn btn-app">Cancel</button>
        </div>
    </form>
</div>

<div id="dashboardSettings" data-role="view" data-title="Dashboard" data-model="app.dashboardSettings" data-init="app.dashboardSettings.onInit" data-show="app.dashboardSettings.onShow">
    <header data-role="header">
        <div data-role="navbar">
            <h2 data-role="view-title"></h2>
        </div>
    </header>
    
    <div id="dashboardWidgetList"
        data-role="listview"
        data-template="widgetTemplate"
        data-bind="source: widgetData"></div>

    <footer data-role="footer">
        <div data-role="tabstrip">
            <a data-role="button" data-bind="click: onAddWidget">ADD WIDGET</a>
            <a data-role="button" data-bind="click: onSaveSettings">SAVE</a>
            <a data-role="button" data-bind="click: onCancelSettings">CANCEL</a>
        </div>
    </footer>
</div>

<script type="text/x-kendo-template" id="widgetTemplate">
    <input type="text" class="widget-title k-textbox" data-bind="value: Title" data-key="#: WidgetKey #" />
    <div class="widget-btn">
        <a data-role="button" data-bind="click: onMoveWidgetDown" data-key="#: WidgetKey #">&\#x25BC;</a>
        <a data-role="button" data-bind="click: onMoveWidgetUp" data-key="#: WidgetKey #">&\#x25B2;</a>
        <a data-role="button" data-bind="click: onDeleteWidget" data-key="#: WidgetKey #">&\#10006;</a>
    </div>
</script>

<!--<script type="text/x-kendo-template" id="widgetTypeTemplate1">
    <div data-key="#: WidgetTypeKey #">
        <h3>
            <span class="km-icon km-add-new right"></span>
            <span><img src="../../styles/images/widget-#:WidgetTypeKey#.svg">&nbsp;&nbsp;#: Title #</span>
        </h3>
        <p>#: Description #</p>
    </div>
</script>-->

<script type="text/x-kendo-template" id="widgetTypeTemplate">
    <li data-key="#: WidgetTypeKey #">
        <h3>
            <span class="km-icon km-add-new right"></span>
            <span><img src="../../styles/images/widget-#:WidgetTypeKey#.svg">&nbsp;&nbsp;#: Title #</span>
        </h3>
        <p>#: Description #</p>
    </li>
</script>
