<div id="loginView" data-role="view" data-title="Login" data-model="app.loginView" data-init="app.loginView.onInit" data-show="app.loginView.onShow" data-after-show="app.loginView.afterShow">
    <div id="loginHeader" class="km-header center">
        <img src="styles/images/HP_MasterLogo_Gold.png" class="header-logo" />
        <button id="loginTab" class="btn-active" data-role="button" data-click="app.showLogin">Sign In</button>
        <label id="loginTabLabel">&#9830;</label>
        <button id="registerTab" data-role="button" data-click="app.showRegister">Sign Up</button>
        <label id="registerTabLabel" style="display:none;">&#9830;</label>
    </div>
    <form id="loginForm" class="form">
        <div class="form-group">
            <input id="loginUsername" data-bind="value: username" type="text" class="k-textbox form-control full-width" placeholder="Username" />
            <input id="loginPassword" data-bind="value: password" type="password" class="k-textbox form-control full-width" placeholder="Password" />
        </div>
        <div class="form-group">
            <button id="loginBtn" data-role="button" data-bind="click: onLogin" class="btn btn-app full-width">SIGN IN</button>
            <button id="registerBtn" data-role="button" data-bind="click: onRegister" class="btn btn-app full-width" style="display:none;">REGISTER</button>
        </div>
    </form>
    <div class="center">
        <a data-bind="click: onForgotPassword" class="text-app">Forgot password?</a>
    </div>
    <br />
    <br />
    <div class="center">
        <hr class="btn-lines" />
        <a data-bind="click: onShowFacebook" class="btn-circle"><img src="../../styles/images/facebook.svg" /></a>
        <a data-bind="click: onShowTwitter" class="btn-circle"><img src="../../styles/images/twitter.svg" /></a>
        <a data-bind="click: onShowGoogle" class="btn-circle"><img src="../../styles/images/gplus.svg" /></a>
        <hr class="btn-lines" />
    </div>
    <br />
    <div class="center text-app">
        Sign in with Facebook, Twitter, or Google
    </div>
    <br />
</div>
