<div id="profileView" data-role="view" data-title="Profile" data-layout="main" data-model="app.profileView" data-show="app.profileView.onShow">
    <form id="registerForm" class="form">
        <div class="form-group">
            <label class="km-required form-col1">First Name:</label>
            <input data-bind="value: firstName" type="text" class="k-textbox form-control form-col2" />
            <label class="km-required form-col1">Last Name:</label>
            <input data-bind="value: lastName" type="text" class="k-textbox form-control form-col2" />
            <label class="km-required form-col1">Email:</label>
            <input data-bind="value: emailAddress" type="email" class="k-textbox form-control form-col2" />
            <label class="form-col1">Phone:</label>
            <input data-bind="value: phoneNumber" type="tel" class="k-textbox form-control form-col2" />
            <label class="form-col1">Address:</label>
            <input data-bind="value: address" type="text" class="k-textbox form-control form-col2" />
            <label class="form-col1">City:</label>
            <input data-bind="value: city" type="text" class="k-textbox form-control form-col2" />
            <label class="form-col1">State/Zip:</label>
            <input data-bind="value: state" type="text" maxlength="2" size="2" class="k-textbox form-control form-col3 left" />
            <input data-bind="value: zip" type="text" maxlength="5" size="5" class="k-textbox form-control form-col3 right" />
            <label class="form-col1">Country:</label>
            <input data-bind="value: country" type="text" class="k-textbox form-control form-col2" />
        </div>
        <div class="form-group right">
            <button data-role="button" data-bind="click: onSaveProfile" class="btn btn-app">Save Profile</button>
        </div>
    </form>
</div>
