body 
{
    color: #73879C;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.top
{
    margin-top: 0;
}

.right 
{
    float: right;
}

.left 
{
    float: left;
}

.center
{
    text-align: center;
}

.nav-center
{
    font-size: initial;
    top: -2px;
}

/* Custom Icons */

.km-check:after,
.km-check:before
{
    content: "\e037";
}

.km-trophy:after,
.km-trophy:before
{
    content: "\e0c4";
}

#kendoUiMobileApp .km-add-new 
{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/add-new.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-dashboard 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/HP_Logomark_Gray.png");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-state-active .km-dashboard
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/HP_Logomark.png");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-calendar 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/calendar.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-calendar-dark
{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/calendar-dark.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-state-active .km-calendar 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/calendar-active.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-checklist 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/checklist.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-myherds 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/myherds.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-state-active .km-myherds 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/myherds-active.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-logbook 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/logbook.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-state-active .km-logbook 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/logbook-active.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-accounting 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/accounting.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-news 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/news.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-profile 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/profile.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-help 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/help.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-logout 
{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/logout.svg");
    -webkit-background-clip: border-box;
}

#kendoUiMobileApp .km-tabstrip .km-icon 
{
    background-size: 75% 75%;
}

#kendoUiMobileApp .km-tabstrip .km-text 
{
    font-size: 1.5em;
    margin-top: 5px;
    color: #888e90;
}

#kendoUiMobileApp .km-tabstrip .km-state-active .km-text 
{
    font-size: 1.5em;
    margin-top: 5px;    
    color: #BF9B5F;
    opacity: 0.8;
}

#kendoUiMobileApp .km-drawer .km-icon 
{
    background-size: 100% 100%;
    margin-right: 10px;
}

/* Kendo */

#kendoUiMobileApp .k-overflow-container 
{
    background-color: #fff;
}

#kendoUiMobileApp .k-toolbar 
{
    position: initial;
    border: 0;
}

#kendoUiMobileApp .k-overflow-button 
{
    padding: 5px 10px 5px 10px;
}


#kendoUiMobileApp .km-drawer .km-header,
#kendoUiMobileApp .km-drawer .km-navbar,
#kendoUiMobileApp .km-drawer .km-content,
.km-header 
{
    background: #263746;
}

#kendoUiMobileApp .km-drawer .km-content .km-listview-wrapper
{
    clear: both;
}

#kendoUiMobileApp .km-drawer .km-listview li.km-state-active {
  background: #3C4B59;
}

#kendoUiMobileApp .km-drawer .km-listview li.km-state-active:before {
  background: #BF9B5F;
}

#kendoUiMobileApp .km-header h2
{
    color: #BF9B5F;
    margin: 0;
}

#kendoUiMobileApp .km-header .km-navbar, 
#kendoUiMobileApp .km-header .k-toolbar
{
    background: #263746;
    height: 50px;
}

#kendoUiMobileApp .km-view .km-tabstrip,
#kendoUiMobileApp .km-view .km-tabstrip .km-button.km-state-active
{
    background-color: #263746;
    background-image: none;
}

#kendoUiMobileApp .km-header .km-navbar .km-button
{
    height: auto;
    color: #888e90;
}

#kendoUiMobileApp .km-header .km-navbar .km-leftitem,
#kendoUiMobileApp .km-header .km-navbar .km-rightitem 
{
    min-width: 55px;
}

#kendoUiMobileApp .km-listview .title
{
    font-size: 16px;
    font-weight: bold;
}

#kendoUiMobileApp .km-group-title
{
    padding: 10px;
    background: #FCFCFC;
    border-top-width: 1px;
    border-top-color: #dfe1e2;
    border-top-style: solid;
}

#kendoUiMobileApp .km-group-title .km-text
{
    height: 25px;
}

#kendoUiMobileApp .km-group-title .km-text a
{
    width: 24px;
    height: 24px;
    padding: 2px;
}

#kendoUiMobileApp .km-group-container li
{
    padding: 0;
}

#kendoUiMobileApp .checklistItemWrapper
{
    padding: 15px 45px 15px 12px;
    margin: 0;
    border: 0;
    border-top-width: 1px;
    border-top-color: #dfe1e2;
    border-top-style: solid;
}

/*#kendoUiMobileApp .checklistItemWrapper .km-state-active {
  background: #FCFCFC;
}*/

#kendoUiMobileApp .km-group-container li input[type=checkbox]
{
    margin: -3px 12px 0 0;
}

#kendoUiMobileApp.km-widget textarea
{
    font-size: 14px;
    resize: none;
}

#kendoUiMobileApp .km-modalview h2
{
    background-color: #263746;
    color: #BF9B5F;
    margin: 0;
    padding: 10px;
}

#kendoUiMobileApp .km-popup .k-state-focused, 
#kendoUiMobileApp .km-popup .k-state-selected
{
    background-color: #263746;
    border: none;
    border-radius: 0;
    color: #BF9B5F;
}

#kendoUiMobileApp .km-collapsible .km-icon
{
    color: #81BBAC;
    font-size: 1.8rem;
    left: 80%;
}

#kendoUiMobileApp .km-collapsible img
{
    /*width: 16px;
    height: 16px;*/
    margin-right: 10px;
    vertical-align: text-top;
}

#kendoUiMobileApp .km-collapsible-header h2
{
    color: #263746;
}


#kendoUiMobileApp .k-progressbar .k-state-selected
{
    background-color: #81BBAC;
    border-color: #81BBAC;
}

#kendoUiMobileApp li.k-state-selected
{
    background-color: #FCFCFC;
}

#checklistsView .km-listview-wrapper
{
    clear: both;
}

#calendarViewCalendar 
{
    width: 100%;
    text-transform: uppercase;
    border: 0;
    border-bottom-width: 2px;
    border-bottom-color: #D7D7D7;
    border-bottom-style: solid;
}

#calendarViewCalendar .k-header
{
    background-color: #3B4B5A;
    background-image: none;
}

#calendarViewCalendar .k-header a
{
    color: #fff;
    padding: 13px;
}

#calendarViewCalendar .k-header a.k-state-hover 
{
    background-color: #AAACB5;
}

#calendarViewCalendar .k-header .k-icon
{
    /*background-image: url(../kendo/styles/Black/sprite.png);*/
    width: 24px;
    height: 24px;
    background-image: url(../kendo/styles/Black/sprite_2x.png);
}

#calendarViewCalendar .k-header .k-i-arrow-e
{
    background-position: -4px -36px;
}

#calendarViewCalendar .k-header .k-i-arrow-w
{
    background-position: -4px -100px;
}

#calendarViewCalendar .k-content
{
    padding: 10px;
    border-spacing: 5px;
}

#calendarViewCalendar .k-content th
{
    background-color: transparent;
    border: 0;
}

#calendarViewCalendar .k-content td:not(.k-state-selected):not(.k-state-hover)
{
        background-color: #FCFCFC;
}

#kendoUiMobileApp .k-calendar .k-state-selected
{
    background-color: #81BBAC;
    border-radius: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#kendoUiMobileApp .k-calendar .k-state-hover 
{
    border-radius: 0;
    background-color: #AAACB5;
}

#kendoUiMobileApp .k-calendar .k-today
{
    -webkit-box-shadow: inset 0 0 0 1px #81BBAC;
    box-shadow: inset 0 0 0 1px #81BBAC;
    border-radius: 0;
}

#kendoUiMobileApp .k-calendar .k-today:not(.k-state-selected) .k-link
{
    color: #81BBAC;
}

/* Header */

.header-logo 
{
    width: 185px;
    height: 50px;
}

/* Forms */

.form 
{
    padding: 15px;
}

.form-group
{
    clear: both;
    margin: 10px 0;
}

.form-group input.k-textbox 
{
    box-sizing: border-box;
    border-radius: 0;
    margin-bottom: 10px;
}

.form-group fieldset 
{
    border-color: #e0e0e0;
    border-style: solid;
}

.form-group .km-list>li
{
    padding: 5px;
    border: none;
}

.form-col1 
{
    width: 40%;
    height: 30px;
    margin-bottom: 10px;
    float: left;
    clear: both;
}

.form-col1-sm
{
    width: 25%;
    height: 30px;
    margin-bottom: 10px;
    float: left;
    clear: both;
}

.form-col2
{
    width: 60%;
    float: right;
}

.form-col3
{
    width: 28%;
}

.form-col4
{
    width: 35%;
}

.full-width
{
    width: 100%;
    display: inline-block;
}

.form-control:focus 
{
    border-color: #CCD0D7;
    box-shadow: none !important;
}

.text-app 
{    
    font-size: 13px;
}

/* ***** buttons ********/

.btn.btn-app 
{
    min-width: 80px;
    min-height: 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #fff;
    background: #263746;
}

.btn.btn-app > .fa, .btn.btn-app > .glyphicon, .btn.btn-app > .ion 
{
    font-size: 20px;
    display: block;
}

.btn.btn-app:hover 
{
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
}

.btn.btn-app:active, .btn.btn-app:focus 
{
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.btn-app > .badge 
{
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}

.btn-active .km-text
{
    color: #fff;
}

.btn-circle
{
    margin: 5px;
}

.btn-circle img 
{
    border-radius: 50%;
    background-color: #f4f4f4;
    width: 50px;
    height: 50px;
    padding: 12px;
}

.btn-lines {
    display: inline-block;
    width: 50px;
    border-color: #e0e0e0;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 24px;
}

/* Login View */

#loginView .km-header 
{
    background-size: 100% 100%;
    background-image: url("images/mobile-header_360.png");
    -webkit-background-clip: border-box;
    height: 200px;
}

#loginView .km-header img 
{
    position: relative;
    top: 60px;
    width: 280px;
    height: 75px;
}

#loginView .km-footer
{
    background-color: #fff;
}

#loginForm
{
    padding: 30px;
}

#loginUsername 
{
    background: url("images/username.svg") no-repeat scroll 7px 7px;
    padding-left:30px;
}

#loginPassword 
{
    background: url("images/password.svg") no-repeat scroll 7px 7px;
    padding-left:30px;
}

#loginTab
{
    position: fixed;
    top: 160px;
    left: 20%;
    background-color: transparent;
    border-style: none;
}

#loginTabLabel
{
    position: fixed;
    top: 185px;
    color: #fff;
    font-size: 24px;
}

#registerTab
{
    position: fixed;
    top: 160px;
    left: 60%;
    background-color: transparent;
    border-style: none;
}

#registerTabLabel
{
    position: fixed;
    top: 185px;
    color: #fff;
    font-size: 24px;
}

.header-small
{
    height: 100px !important;
}

.header-small img
{
    top: 0px !important;
}

.header-small #loginTab,
.header-small #registerTab
{
    top: 60px !important;
}

.header-small #loginTabLabel,
.header-small #registerTabLabel
{
    top: 85px !important;
}

.profile_pic 
{
    margin: 0 15px 15px 15px;
    float: left;
}

.img-circle 
{
    border-radius: 50%;
}

.img-circle.profile_img 
{
    width: 75px;
}

.profile_info 
{
    margin-top: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #BAB8B8;
}

.profile_info h2
{
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300;
}

#dashboardChecklistsGrid th
{
    background-color: #3B4B5A;
    background-image: none;
    color: #fff;
}

#dashboardChecklistsGrid th a
{
    color: #fff;
}

#dashboardChecklistsGrid th a>span
{
    background-image: url(../kendo/styles/Black/sprite.png);
}

#dashboardChecklistsGrid .progress
{
    width: 100%;
}

#dashboardSettings .km-view-title
{
    background-color: #263746;
}

#dashboardSettings li
{
    padding: 0;
}

#dashboardSettings .km-footer .km-icon
{
    display: none;
}

#dashboardSettings .km-tabstrip .km-text,
#dashboardSettings .km-tabstrip .km-state-active .km-text
{
    color: #fff;
    opacity: 1;
}

#dashboardWidgetList li 
{ 
    border: 2px solid #81BBAC;
    margin: 5px;
}

#dashboardWidgetList .widget-title
{ 
    left: 10px;
}

#dashboardWidgetList .widget-btn
{
    float: right;
    margin: 5px;
}